.container.d-flex.flex-row{style: "overflow: auto; border: black solid 1px; padding: 0px;"}
  .container{id: 'Audit', style: "border: black solid 1px !important; padding: 0px;"}
    .container.custom-tab-container.p-0.border.border-dark
      / Top disabled "Audits" tab
      %ul.nav.nav-tabs.mb-0
        %li.nav-item.w-100
          %a.nav-link.disabled.text-center.fw-bold{href: '#', tabindex: '-1', aria: { disabled: 'true' }} Audits

      / Bottom tabs fill full width, evenly spaced
      %ul.nav.nav-tabs.nav-fill.mb-0
        %li.nav-item
          %a.nav-link.active{href: '#scheduled', data: { bs_toggle: 'tab' }, role: 'tab'} Scheduled
        %li.nav-item
          %a.nav-link{href: '#in-progress', data: { bs_toggle: 'tab' }, role: 'tab'} In Progress
        %li.nav-item
          %a.nav-link{href: '#completed', data: { bs_toggle: 'tab' }, role: 'tab'} Completed
        %li.nav-item
          %a.nav-link{href: '#to-be-scheduled', data: { bs_toggle: 'tab' }, role: 'tab'} To Be Scheduled/Assigned

      .tab-content.flex-grow-1
        .tab-pane.fade.show.active#scheduled{role: 'tabpanel'}
          = render partial: 'scheduled_table' 

        .tab-pane.fade#in-progress{role: 'tabpanel'}
          = render partial: 'in_progress_table'

        .tab-pane.fade#completed{role: 'tabpanel'}
          = render partial: 'completed_table'

        .tab-pane.fade#to-be-scheduled{role: 'tabpanel'}
          = render partial: 'to_be_scheduled_table'

  .container{id: 'Audits-Status-Overview'}
    .container.custom-tab-container.p-0.border.border-dark
      / Top disabled "Audits" tab
      %ul.nav.nav-tabs.mb-0
        %li.nav-item.w-100
          %a.nav-link.disabled.text-center.fw-bold{href: '#', tabindex: '-1', aria: { disabled: 'true' }} Audits Status Overview

      / Bottom tabs fill full width, evenly spaced
      %ul.nav.nav-tabs.nav-fill.mb-0
        %li.nav-item
          %a.nav-link.active{href: '#pie-chart', data: { bs_toggle: 'tab' }, role: 'tab'} Pie Chart
        %li.nav-item
          %a.nav-link{href: '#bar-chart', data: { bs_toggle: 'tab' }, role: 'tab'} Bar Chart

      .tab-content.flex-grow-1
        .tab-pane.fade.show.active#pie-chart{role: 'tabpanel'}
          = render partial: 'pie_chart', locals: { pie_chart_data: @pie_chart_data }

        .tab-pane.fade#bar-chart{role: 'tabpanel'}
          = render partial: 'bar_chart', locals: { bar_chart_data: @bar_chart_data }
      / === Time Filter Nav Tabs: Day, Week, Month, All ===
      %ul.nav.nav-tabs.nav-fill.mt-3#chart-filter-tabs
        %li.nav-item
          %a.nav-link.active{href: '#', data: { filter: 'day' }} Day
        %li.nav-item
          %a.nav-link{href: '#', data: { filter: 'week' }} Week
        %li.nav-item
          %a.nav-link{href: '#', data: { filter: 'month' }} Month
        %li.nav-item
          %a.nav-link{href: '#', data: { filter: 'all' }} All
      
      / JS Chart Data
      :javascript
        window.pieChartDataByDay = #{@pie_chart_data_by_day.to_json.html_safe};
        window.pieChartDataByWeek = #{@pie_chart_data_by_week.to_json.html_safe};
        window.pieChartDataByMonth = #{@pie_chart_data_by_month.to_json.html_safe};
        window.pieChartDataAll = #{@pie_chart_data_all.to_json.html_safe};

        window.barChartDataByDay = #{@chart_data_by_day.to_json.html_safe};
        window.barChartDataByWeek = #{@chart_data_by_week.to_json.html_safe};
        window.barChartDataByMonth = #{@chart_data_by_month.to_json.html_safe};
        window.barChartDataAll = #{@chart_data_all.to_json.html_safe};




