-# View for uploading a new supporting document
%main.upload-supporting-documents
  %h1 Upload Supporting Document for #Audit #{@audit.id}

  %div.rectangle-3
    %div.documents-part
      %h2 Upload Document

    = form_with(model: @supporting_document, local: true, html: { id: "upload-the-document" }) do |form|
      = form.hidden_field :audit_id, value: @audit.id

      %div.input-documents
        = form.file_field :file, id: "document-upload", required: true, accept: "application/pdf,image/jpeg,image/png"

      %div.attachments-part
        %p Add attachment details
        %div.rectangle-attachments
          %p Document Title
          = form.text_field :name, id: 'document-title', placeholder: 'Enter document title...', required: true
          
          %p Attachment
          - if @supporting_document && @supporting_document.file.attached?
            %div.file-preview
              %p
                %strong Uploaded Document: #{@supporting_document.file.filename.to_s}
                %a.remove-preview href="#" class="remove-preview">X</a>
            
          %p Additional Notes
          = form.text_area :content, id: 'additional-notes', placeholder: 'Enter additional notes...'
          
          %button.add-button#submit-button Add