%div.profile-container
  = image_pack_tag 'images/profile icon.png', height: 100

  %h2 Profile

  %p
    %b Name
  %p= "#{@user.first_name} #{@user.last_name}"

  %p
    %b Role
  %p= @user.role.humanize.capitalize

  %p
    %b Email
  %p= @user.email

  -# Show their company if they ar an auditee
  - if current_user.role == "auditee"
    %p
      %b Company
    %p= Company.find_by(id: @user.company_id)&.name || 'No company assigned'

    %p
      %b Address 
    %p= Company.find_by(id: @user.company_id)&.address || 'No company address entered'




  %div#profile_button
    = link_to edit_user_registration_path do
      %button.bottom_button{ type: 'button' } Edit Profile


  %div#profile_button
    = link_to destroy_user_session_path, method: :delete do
      %button.bottom_button{ type: 'button' } Logout

