.table-scroll-container
  %table.table.table-striped.table-bordered-black.mb-0.text-center.align-middle.fs-6
    %thead
      %tr
        %th.p-3 Audit Id
        %th.p-3 Audit Type
        %th.p-3 Vendor
        %th.p-3 Auditee
        %th.p-3 Lead Auditor
        %th.p-3 Support Auditor(s)
        %th.p-3 SME(s)
        %th.p-3 Scheduled Start Date
        %th.p-3 Scheduled End Date
        %th.p-3 Actual Start Date
        %th.p-3 Progress
        %th.p-3 RPN
    %tbody
      - @in_progress_audits.each do |audit|
        %tr
          %td.p-3
            = link_to view_audit_path(audit[:id]) do 
              %i= audit[:id].to_s.rjust(4, '0')
          %td.p-3= audit[:audit_type]
          %td.p-3= audit[:company_name]
          %td.p-3= audit[:auditee]
          %td.p-3= audit[:lead_auditor]

          / ✅ SUPPORT AUDITOR BUTTON + MODAL
          %td.p-2.white-space-nowrap
            - if audit[:support_auditors].present?
              %button.btn.btn-sm.btn-outline-dark{ data: { bs_toggle: "modal", bs_target: "#supportAuditorsModal-#{audit[:id]}" } }
                = "#{audit[:support_auditors].size} Auditor(s)"

              / Modal for support auditors
              .modal.fade{id: "supportAuditorsModal-#{audit[:id]}", tabindex: "-1", aria: { labelledby: "supportAuditorsModalLabel-#{audit[:id]}", hidden: "true" } }
                .modal-dialog
                  .modal-content
                    .modal-header
                      %h5.modal-title{id: "supportAuditorsModalLabel-#{audit[:id]}"}
                        Support Auditor(s) for Audit ##{audit[:id].to_s.rjust(4, '0')}
                      %button.btn-close{ data: { bs_dismiss: "modal" }, aria: { label: "Close" } }
                    .modal-body
                      %ul.text-start
                        - audit[:support_auditors].each do |auditor|
                          %li= auditor
                    .modal-footer
                      %button.btn.btn-secondary{ data: { bs_dismiss: "modal" } } Close
            - else
              %span.text-muted N/A

          / ✅ SME BUTTON + MODAL
          %td.p-2.white-space-nowrap
            - if audit[:smes].present?
              %button.btn.btn-sm.btn-outline-dark{ data: { bs_toggle: "modal", bs_target: "#smesModal-#{audit[:id]}" } }
                = "#{audit[:smes].size} SME(s)"

              / Modal for support auditors
              .modal.fade{id: "smesModal-#{audit[:id]}", tabindex: "-1", aria: { labelledby: "smesModalLabel-#{audit[:id]}", hidden: "true" } }
                .modal-dialog
                  .modal-content
                    .modal-header
                      %h5.modal-title{id: "smesModalLabel-#{audit[:id]}"}
                        SME(s) for Audit ##{audit[:id].to_s.rjust(4, '0')}
                      %button.btn-close{ data: { bs_dismiss: "modal" }, aria: { label: "Close" } }
                    .modal-body
                      %ul.text-start
                        - audit[:smes].each do |sme|
                          %li= sme
                    .modal-footer
                      %button.btn.btn-secondary{ data: { bs_dismiss: "modal" } } Close
            - else
              %span.text-muted N/A
          
          %td.p-3= audit[:scheduled_start_date]&.strftime('%M:%H %d/%m/%Y') || "N/A"
          %td.p-3= audit[:scheduled_end_date]&.strftime('%M:%H %d/%m/%Y') || "N/A"
          %td.p-3= audit[:actual_start_date]&.strftime('%M:%H %d/%m/%Y') || "N/A"
          %td.p-3
            - progress = audit[:progress] || 0  #TODO: change to questionanire progress
            .progress
              .progress-bar{style: "width: #{progress}%"}
                %span.visually-hidden= "#{progress}%"
          %td.p-3= audit[:rpn]
