#qa-dashboard.d-flex.flex-column.min-width-webkit-fill-available
  
  .container.d-flex.flex-row.overflow-auto.p-2.m-2.min-width-webkit-fill-available
    .container.min-width-400.overflow-auto.me-4.p-0.ms-4{id: 'Audits-Status-Overview'}
      = render partial: 'audit_status_overview'
    
    .container.min-width-400.overflow-auto.me-4.p-0{id: 'Compliance-Score-Graph-Over-Time', style: "border-radius: 1.3em;"}
      = render partial: 'compliance_score_graph_over_time'

    .container.min-width-440.overflow-auto.me-4.p-0.d-grid{id: 'risk-map', style: "max-height: 529px; height: 529px;"}
      = render partial: 'risk_map'

  .container.d-flex.flex-row.overflow-x-auto.p-2.m-2.min-width-webkit-fill-available
    .container.min-width-440.overflow-auto.me-4.p-0.d-grid{id: 'internal-vs-external', style: "max-height: 529px; height: 529px;"}
      = render partial: 'internal_vs_external'

    .container.min-width-600.overflow-auto.me-4.ms-4.p-0.d-inline-grid{id: 'recurring-compliance-issues', style: "max-height: 529px; height: 529px;"}
      = render partial: 'recurring_compliance_issues'
    
    .container.min-width-420.overflow-auto.me-4{id: 'Actions-CAPAs', style: "padding: 0px; display: inline-grid; max-height: 529px; height: 529px;"}
      = render partial: 'actions_capas'
    
    .container.min-width-460.overflow-auto.me-4.p-0.d-inline-grid{id: 'document-quick-access', style: " max-height: 529px; height: 529px;"}
      = render partial: 'document_quick_access'
    
    
  .container.d-flex.flex-row.overflow-auto.p-0.pb-2.pt-2.m-0.min-width-webkit-fill-available.max-width-470
    .container.p-0.d-inline-grid.min-width-webkit-fill-available.m-1.place-self-anchor-center{id: 'Audit', style: "max-height: 529px; height: 529px;"}
      = render partial: 'audits'
    
    