.main-questionnaire-container
    %h1.questionnaire-heading Create Custom Questionnaire
    .questionnaire-form-container
        = simple_form_for @custom_questionnaire, url: questionnaire_path, method: :post do |f|
            %h2.questionnaire-title Questionnaire Title
            = f.input :name, class: 'title-input'
            %h2.questionnaire-title Questionnaire Type
            #option-template
                %label.questionnaire-radio
                = radio_button_tag 'option', 'template'
                Template
            #option-custom
                %label.questionnaire-radio
                = radio_button_tag 'option', 'custom'
                Custom

            #template-content.hide
                %h2.questionnaire-title Template Selection
                = select_tag 'questionnaire_type', options_for_select(@questionnaires.collect{ |q| q.name })
                %h2.questionnaire-title Template Questionnaire
                
                .template-questionnaire-container
                    .questionnaire-accordion-container#template-accordion
                        %button.accordion-button-underline.accordion-button.collapsed.d-flex.justify-content-between.align-items-center{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#collapseTemplate", "aria-expanded" => "false", "aria-controls" => "collapseTemplate"}
                            .play-arrow-icon
                                %i.bi.bi-play-fill
                    .collapse#collapseTemplate
                        .template-questionnaire-inner-container
                            #section-accordion-container
            #custom-content.hide
                %h2{:class => "questionnaire-title"} Custom Questionnaire
        

            .questionnaire-btn-container 
                %button.questionnaire-btn Save
                = f.submit "Create Questionnaire", class: 'questionnaire-btn'
