%html 
    %head
        %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %body
        %h1 Create Audit Request Letter
        %div.border.border-dark.p-3.rounded-3.pb-3
            %h2 Select Template 
            %form
                %select
                    %option{ value: "1" } Default Template

        %div.border.border-dark.p-3.rounded-3.mt-4
            %h2 Audit Request Letter
            %br/
            %p
                Gene Therapy Innovation and Manufacturing Centre
                %br/
                Business Park, Europa Ave, Tinsley
                %br/
                Sheffield, S9 1ZA
                %br/
                GTMIC email
                %br/
                0114 222 2238
                %br/
                %br/
                #{@today_date}
            
            %p 
                Company details 
            %br/
            %p 
            Dear Company A auditee,
            %br/
            We are writing to formally request an audit of Company A Name in accordance with our quality assurance and regulatory compliance requirements. The details of the proposed audit are as follows:
            %br/

            %p 
                Auditor(s): 
                - @auditor_names.each do |name|
                    -if name == @auditor_names.last
                        = name
                    -else
                        = name + ","
            %br/
            %p 
                Audit Scope:
                %br/
                = text_area_tag :audit_scope, @audit_detail.scope, class: "form-control w-100 bg-light rounded-3 border-dark no-resize", rows: 3
            %br/
            %p Audit Date(s): #{@audit.scheduled_start_date.strftime("%d/%m/%Y")} - #{@audit.scheduled_end_date.strftime("%d/%m/%Y")}
            %br/
            - start = DateTime.parse("2025-03-01 14:00:00")
            - finish = DateTime.parse("2025-11-12 14:00:00")
            - duration = finish - start
            - duration = distance_of_time_in_words(start, finish)
            %p Duration of Audit: #{duration}

            %br/
            %p 
                Location of Audit: 
                - company_id = @audit.company_id
                - location = Company.find(company_id).street_name
                = text_area_tag :audit_location, location ,class: "form-control w-100 bg-light rounded-3 border-dark no-resize", rows: 2
            %br/
            %br/

            %p 
                Audit Criteria:
                %br/
                = text_area_tag :audit_scope, @audit_detail.objectives, class: "form-control w-100 bg-light rounded-3 border-dark no-resize", rows: 3
            %p 
                The purpose of this audit is to assess:
                %br/
                = text_area_tag :audit_objectives, @audit_detail.purpose, class: "form-control w-100 bg-light rounded-3 border-dark no-resize", rows: 3

            %p 
                The audit will include a review of relevant documentation, site walkthroughs, and interviews with key personnel.
                We kindly request your cooperation in facilitating this process by providing access to necessary records, personnel, and facilities. Please confirm your availability for the proposed dates or suggest alternative dates if required.
                Should you have any questions or require further clarification, please do not hesitate to contact us at Lead Auditor Contact. We appreciate your time and cooperation in this matter and look forward to working with you.
            %br/
            %p 
                Best regards,
                %br/
                #{@lead_auditor.first_name} #{@lead_auditor.last_name}
                %br/
                Lead Auditor
                %br/
                Gene Therapy Innovation and Manufacturing Centre
                %br/
                Lead Auditor B Contact details
        %div 
            %button.btn.btn-primary.mt-3 Create Letter


            