.login-container
  = image_pack_tag "images/GTIMC Logo.png", alt: "Logo", class: "logo2"
  %h2 Create a user
  = form_with model: @user, url: admin_users_path, local: true do |f|
    .form-group
      = f.label :first_name, "First Name"
      = f.text_field :first_name, placeholder: "Enter first name", required: true
    .form-group
      = f.label :last_name, "Last Name"
      = f.text_field :last_name, placeholder: "Enter last name", required: true
    .form-group
      = f.label :email, "Email"
      = f.email_field :email, placeholder: "Enter email", required: true
    .form-group
      = f.label :password, "Password"
      = f.password_field :password, required: true
    .form-group
      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation, required: true
    .form-group
      = f.label :role, "Role"
      = f.select :role, options_for_select([['Select a role', ''], ['QA Manager', 'qa_manager'], ['Auditor', 'auditor'], ['Auditee', 'auditee'], ['Senior Manager', 'senior_manager']]), {}, { required: true, id: 'role_select' }
    .form-group#company_field{ style: "display: none;" }
      = f.label :company, "Company"
      = f.text_field :company, placeholder: "Enter company name", id: "company_name"
    .form-group#address_field{ style: "display: none;" }
      = f.label :address, "Company Address"
      = f.text_field :address, placeholder: "Enter company address"
    .form-group
      = f.submit "Create User", class: "btn btn-primary green-btn"

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    var roleSelect = document.getElementById("role_select");
    var companyField = document.getElementById("company_field");
    var addressField = document.getElementById("address_field");
    var companyNameInput = document.getElementById("company_name");

    // A list of companies that exist
    var existingCompanies = #{raw @companies.to_json};

    // Show the company field if an auditee
    roleSelect.addEventListener("change", function() {
      if (this.value === "auditee") {
        companyField.style.display = "block";
      } else {
        companyField.style.display = "none";
        addressField.style.display = "none";
      }
    });

    // Show address address field if the comapny is new
    companyNameInput.addEventListener("input", function() {
      if (!existingCompanies.includes(this.value.trim())) {
        addressField.style.display = "block";
      } else {
        addressField.style.display = "none";
      }
    });
  });
