!!!
%html{ lang: 'en-GB' }
  %head
    %title Project

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["Project", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'styles', media: 'all'
    = javascript_pack_tag "application", "data-turbo-track": "reload"


  %body
    - if user_signed_in?
      %nav.navbar
        %a.navbar-brand{ href: dashboard_path_for(current_user) }
          = image_pack_tag 'images/GTIMC Logo.png', height: 40

        %div.navbar-icons
          %div.user-name
            = link_to "#{current_user.first_name} #{current_user.last_name}", profile_path, class: 'user-name-link'
            %span.user-role= current_user.role.humanize.capitalize
          .special-a
            %a{ href: notifications_path }
              %i.bi.bi-bell
          %span{ onclick: "openNav()" } 
            = image_pack_tag 'images/MenuLines.png', height: 40


      -# The drop down menu for the navighation of the stie
      #mySidenav.sidenav
        %a.closebtn{ href: "javascript:void(0)", onclick: "closeNav()" } &times;

        %a.navbar-brand{ href: dashboard_path_for(current_user) }
          = image_pack_tag 'images/GTIMC Logo.png', height: 60

        %p.main-menu Main menu 

        %a.dropdown-btn{ href: "#" } Letters & Reports
        %div.dropdown-container
          %a{ href: "#" } Audit Request Letter
          %a{ href: "#" } Audit Closure Letter 
          %a{ href: "#" } Audit Report

        %a.dropdown-btn{ href: "#" } Questionnaires
        %div.dropdown-container
          %a{ href: "#" } Create Questionnaire
          %a{ href: "#" } Preview Questionnaire
          %a{ href: "#" } Send Email
          %a{ href: "#" } Questionnaire Response


        %a.dropdown-btn{ href: "#" } Audits
        %div.dropdown-container
          %a{ href: "/create_edit_audits/new" } Create Audit
          %a{ href: "#" } View Audit
          %a{ href: "#" } Assigned Audit
          %a{ href: "#" } Audit Progress
          %a{ href: "#" } Audit History
          %a{ href: "#" } Send Updates
          %a{ href: new_supporting_document_path } Upload Supporting Documents
          %a{ href: supporting_documents_path } View Supporting Documents


        %a.dropdown-btn{ href: "#" } Records
        %div.dropdown-container
          %a{ href: "#" } Communication Logs
          %a{ href: "#" } Company Records
          %a{ href: "#" } Audit Logs
          %a{ href: "#" } Document Logs
          %a{ href: "#" } Documents

        - if current_user.role == "qa_manager"
          = link_to 'Add New User', new_admin_user_path



    - else 
      %nav.navbar
        .container
          .special-a
            %a.navbar-brand{ href: "#" }
              = image_pack_tag 'images/GTIMC Logo.png', height: 40

    - if flash.present?
      .container-fluid.flash-messages
        - flash.each do |message_type, message|
          - next unless message_type == 'alert' || message_type == 'notice'
          .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }" }= message

    %main
      .container-fluid
        = yield

    .footer
      %p &copy; GTIMC 2025



    